<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="UTF-8" />
    <title>로그인</title>

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script th:src="@{/js/auth/signin.js}"></script>
</head>

<div layout:fragment="content" class="container">
    <main class="loginMain">
        <!--로그인섹션-->
        <section class="login">
            <!--로그인박스-->
            <article class="login__form__container">
                <!--로그인 폼-->
                <div class="login__form">
                    <h1><img src="/images/logo.jpg" alt=""></h1>

                    <!--로그인 인풋-->
                    <form class="login__input" id="loginForm">
                        <input type="text" name="username" placeholder="아이디" value="kangmin" maxlength="50"/>
                        <input type="password" name="password" placeholder="비밀번호" value="123" maxlength="50"/>
                        <button type="submit">로그인</button>
                    </form>
                    <!--로그인 인풋end-->

                    <!-- 또는 -->
                    <div class="login__horizon">
                        <div class="br"></div>
                        <div class="or">또는</div>
                        <div class="br"></div>
                    </div>
                    <!-- 또는end -->

                    <!-- Oauth 소셜로그인 -->
                    <div class="login__facebook">
                        <button>
                            <i class="fab fa-facebook-square"></i>
                            <span>Facebook으로 로그인</span>
                        </button>
                    </div>
                    <!-- Oauth 소셜로그인end -->
                </div>

                <!--계정이 없으신가요?-->
                <div class="login__register">
                    <span>계정이 없으신가요?</span>
                    <a href="/auth/signup">가입하기</a>
                </div>
                <!--계정이 없으신가요?end-->
            </article>
        </section>
    </main>
</div>
</html>