<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="UTF-8" />
    <title>회원가입</title>

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script th:src="@{/js/auth/signup.js}"></script>
</head>

<div layout:fragment="content" class="container">
    <main class="loginMain">
        <!--회원가입섹션-->
        <section class="login">
            <article class="login__form__container">

                <!--회원가입 폼-->
                <div class="login__form">
                    <!--로고-->
                    <h1><img src="/images/instagram-new-logo.png" alt=""></h1>
                    <!--로고end-->

                    <!--회원가입 인풋-->
                    <form id="form" class="login__input" >
                        <input type="text" name="username" placeholder="유저명" maxlength="50" />
                        <input type="password" name="password" placeholder="패스워드" maxlength="50" />
                        <input type="email" name="email" placeholder="이메일" maxlength="50" />
                        <input type="text" name="name" placeholder="이름" maxlength="10" />
                        <button type="submit">가입</button>
                    </form>
                    <!--회원가입 인풋end-->
                </div>
                <!--회원가입 폼end-->

                <!--계정이 있으신가요?-->
                <div class="login__register">
                    <span>계정이 있으신가요?</span>
                    <a href="/login">로그인</a>
                </div>
                <!--계정이 있으신가요?end-->

            </article>
        </section>
    </main>
</div>
</html>