<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <script th:src="@{/js/image/popular.js}"></script>
</head>
<main layout:fragment="content" class="popular">
    <div class="exploreContainer">
        <div class="popular-gallery">
            <div class="p-img-box" th:each="images : ${images}">
                <a th:onclick="|location.href='@{|/member/${images.memberId}|}'|"> <img th:src="${images.imageUrl}"/>
                </a>
            </div>
        </div>
    </div>
</main>
</html>