<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <script th:inline="javascript">
        let pageMemberId = [[${pageMemberId}]];
        let memberId = [[${memberId}]];
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script th:src="@{/js/image/upload.js}"></script>
</head>
<main layout:fragment="content" class="uploadContainer">
    <section class="upload">
        <div class="upload-top">
            <a class="">
                <img src="/images/instagram-new-logo.png" alt="">
            </a>
            <p>사진 업로드</p>
        </div>
        <form id="imageUpload" class="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" onchange="imageChoose(this)"/>
            <div class="upload-img">
                <img class="image-view none" src="" alt="" id="imageUploadPreview"/>
            </div>
            <div class="upload-form-detail">
                <input type="text" placeholder="사진설명" name="caption" maxlength="50">
                <button type="submit" class="cta blue">업로드</button>
            </div>
            <input type="hidden" name="memberId" th:value="${memberId}">
        </form>
    </section>
</main>
<br/><br/>
</html>