<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <script th:inline="javascript">
        let memberId = [[${memberId}]];
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script th:src="@{/js/member/update.js}"></script>
</head>

<main layout:fragment="content" class="main">
    <!--프로필셋팅 섹션-->
    <section class="setting-container">
        <!--프로필셋팅 아티클-->
        <article class="setting__content">

            <!--프로필셋팅 아이디영역-->
            <div class="content-item__01">
                <div class="item__img">
                    <img src="#" onerror="this.src='/images/person.jpeg'"/>
                </div>
                <div class="item__username">
                    <h2>TherePrograming</h2>
                </div>
            </div>
            <!--프로필셋팅 아이디영역end-->

            <!--프로필 수정-->
            <form id="profileUpdate">
            <div class="content-item__03">
                <div class="item__title">아이디</div>
                <div class="item__input">
                    <input type="text" name="username" disabled/>
                </div>
            </div>
            <div class="content-item__02">
                <div class="item__title">이름</div>
                <div class="item__input">
                    <input type="text" name="name" placeholder="이름" maxlength="50"/>
                </div>
            </div>
            <div class="content-item__04">
                <div class="item__title">패스워드</div>
                <div class="item__input">
                    <input type="password" name="password" placeholder="패스워드" maxlength="50"/>
                </div>
            </div>
            <div class="content-item__06">
                <div class="item__title">소개</div>
                <div class="item__input">
                    <textarea name="bio" id="" rows="3">프로그래머</textarea>
                </div>
            </div>
            <div class="content-item__07">
                <div class="item__title"></div>
                <div class="item__input">
                    <span><b>개인정보</b></span> <span>비즈니스나 반려동물 등에 사용된 계정인 경우에도
							회원님의 개인 정보를 입력하세요. 공개 프로필에는 포함되지 않습니다.</span>
                </div>
            </div>
            <div class="content-item__08">
                <div class="item__title">이메일</div>
                <div class="item__input">
                    <input type="text" name="email" placeholder="이메일" maxlength="50"/>
                </div>
            </div>

            <!--제출버튼-->
            <div class="content-item__11">
                <div class="item__title"></div>
                <div class="item__input">
                    <button type="submit">수정</button>
                </div>
            </div>
            <!--제출버튼end-->

            </form>
            <!--프로필수정 form end-->
        </article>
    </section>
</main>
</html>